div {
    display: inline-block;
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: Arial;
    font-size: 12px;
    background-color: rgb(70, 70, 70);
    color: black;
}

.tooltiptarget .tooltip {
    display: none;
    visibility: hidden;
    text-align: left;
    position: absolute;
    z-index: 1;
    padding: 4px 4px;
    margin-top: 1px;
    min-width: 200px;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.tooltiptarget:hover .tooltip {
    display: inline-block;
    visibility: visible;
}
.tooltip:hover {
    display: none !important;
}

.progressBar {
    display: block;
    width: 100%;
    background-color: white;
}
.progressBarInner {
    display: block;
    height: 100%;
    white-space: nowrap;
}